<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why-hungry
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body>
    <nav class="nav navbar-dark bg-dark p-4 d-flex justify-content-between">
      <div class="">
        <img class="" style="width: 100px;" src="/logo.jpeg" />
        <a class="mt-1 navbar-brand active " href="#">Welcome</a>
    </div>
      <a class="btn btn-danger" href="/">Logout</a>
    </nav>
    <div class="main-content">
      <marquee class="mt-5">
        <h1 class="site-header">Why Hungry?</h1>
      </marquee>
        <div class="container-sm jumbotron mt-5" style="max-width: 90rem;">
          <div class="card text-center">
            <div class="card-header">
              Use this pin code to open the container. 
            </div>
            <div class="card-body">
              <h3 class="card-title"><%= pinCode %></h3>
              <p class="card-text">This pin will expire in 1 hour.</p>
            </div>
            <div class="card-footer text-muted">
              <button class="btn btn-dark"><a style="color: white" href="/user/<%= userId %>/view/outlets">Go Back!</a></button>
            </div>
          </div>
        </div>
      </div>
    <script>
      function onSubmit(token) {
        document.getElementById("login-form").submit();
      }
    </script>
    <style>
      body {
        background-image: url("w2.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        font-family: sans-serif;
      }
      .main-content {
        height: 100vh;
        background-image: linear-gradient(to right, #e3f2fd , #f7d9d7);
        
      }
      /* .inner-content {
        width: 50%;
        margin: 0px auto;
      } */
      .navigate-button {
        margin-top: 50px;
      }
      a {
        text-decoration: none;
      }
      .button {
        text-decoration: none;
        color: red;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
      input {
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: none;
      }
      h1 {
        font-family: Helvetica;
        
      }
    </style>
    
  </body>
</html>